[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic-settings = "*"
fastapi = "*"
uvicorn = "*"
langchain = "*"
langchain-core = "*"
langchain-community = "*"
langgraph = "*"
ollama = "*"
langchain-ollama = "*"
python-json-logger = "*"
chromadb = "*"
langchain-chroma = "*"
sqlmodel = "*"
pandas = "*"

[dev-packages]
black = "*"
ipykernel = "*"
jupyter = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.5"
